<%- include('partials/header') %>

    <div class="section-courses" id="page-content">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                <%= post.title %>
            </h2>
            <br>
            <span>Posted by <%=post.author%></span>
        </div>
        <div class="container">
            <p>
                <%= post.content %>
            </p>
        </div>
    </div>

<%- include('partials/footer') %>